.checkout-container {
  display: flex;
  flex-direction: column;

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 100%;
  }

  .footer-label {
    align-self: center;
  }
}
