<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Shop.com</h1>
    <span class="toolbar-spacer"></span>
    <div class>
      <a mat-button routerLink="/shop" routerLinkActive="active">Shop</a>
      <a
        *ngIf="(user$ | async) === null"
        mat-button
        routerLink="/auth"
        routerLinkActive="active"
        >Sign In</a
      >
      <a
        *ngIf="(user$ | async) !== null"
        mat-button
        (click)="authService.signOut()"
        >Sign Out</a
      >
      <a mat-button routerLink="/checkout" routerLinkActive="active">
        <mat-icon [matBadge]="checkoutCount$ | async" matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
