<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Shop.com</h1>
    <span class="toolbar-spacer"></span>
    <div class>
      <a mat-button routerLink="/shop" routerLinkActive="active">Shop</a>
      <a
        *ngIf="!signedIn"
        mat-button
        routerLink="/auth"
        routerLinkActive="active"
        >Sign In</a
      >
      <a *ngIf="signedIn" mat-button (click)="authService.signOut()"
        >Sign Out</a
      >
      <a mat-button routerLink="/checkout" routerLinkActive="active">
        <mat-icon matBadge="4" matBadgeColor="warn">shopping_cart</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
