<mat-card>
  <mat-card-title>Don't have an account?</mat-card-title>
  <mat-card-subtitle>Sign up with your email and password</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Display name"
            formControlName="displayName"
          />
        </mat-form-field>
      </p>

      <div *ngIf="displayName?.errors?.['forbiddenName']" class="error">
        Name cannot start with numbers or special characters.
      </div>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
      </p>

      <div *ngIf="email?.errors?.['email']" class="error">
        Email should have a valid format.
      </div>
      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Confirm password"
            formControlName="confirmPassword"
          />
        </mat-form-field>
      </p>

      <div *ngIf="form?.errors?.['confirmPassword']" class="error">
        Passwords should be the same.
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions-container">
      <button
        mat-raised-button
        type="submit"
        (click)="signUp()"
        [disabled]="!form.valid"
      >
        Sign Up
      </button>
    </div>
  </mat-card-actions>
</mat-card>
